@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

button,
input,
textarea {
  font: inherit;
}

::selection {
  background: black;
  color: white;
}

.dark ::selection {
  background: white;
  color: black;
}